:root {
    --blue: powderblue;
    --pink: pink;
    --white: white;
    --kingBlue: rgba(39, 200, 240, 0.781);
    --gray: gray;
    --lightGray: silver;
    --black: black;
    --facebookBlue: #1877f2;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: var(--blue);
}
header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--kingBlue);
}
#nH {
    background-color: var(--pink);
    border: 2px solid var(--white);
}
#min-menu {
    background-color: var(--blue);
    border-radius: 10px;
    border: 2px solid var(--white);
}
#desktopMenu a {
    color: var(--gray);
    font-size: 1.8rem;
}
#search {
    width: 200px;
    font-size: 1.4rem;
}
#buttonSearch {
    color: var(--white);
    background-color: var(--kingBlue);
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--white);
}
.general {
    background-color: var(--blue);
    margin: 0 20px;
    border-radius: 20px;
    
}
.general .carousel-inner img {
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
    
}
#carouselExampleInterval {
    width: 30vw;
}
h1 {
  margin: 20px;
  padding: 20px; 
  font-size: 40px; 
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  text-align: center;
  background-color: var(--lightGray);
  border-radius: 10px;
  border: 2px solid var(--white);
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    background-color: var(--pink);
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--white);
    
}
#happy {
    background-color: var(--white);
    width: 300px;
    float: left;
}
.card {
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid var(--white);
    height: 35rem;
    width: 20rem;
    
}
.card img {
    height: 25rem;
    width: 100%;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}
.domicilio {
    margin: 40px;
}
#guardarBtn {
    background-color: var(--lightGray);
    border: 1px solid var(--white);
    color: var(--black);
    margin-bottom: 30px;
    font-size: 1.8rem;
    margin-top: 10px;
}
#footer {
    background-color: var(--pink);
    border: 2px solid var(--white);
    height: 25vh;
    display: flex;
}
#footer a {
    margin-top: 4px;
    text-decoration: none;
    color: var(--gray);
}
#whatsappIcon {
    text-decoration: none;
    color: var(--white)!important;
    background-color: rgb(73, 139, 73);
    vertical-align: middle;
    margin: 4px;
}
h3 {
    margin-top: 50px;
    color: var(--gray);
}
#socialNetwork {
    margin-bottom: 20px;
}
#footer p {
    color: var(--gray);
    margin-top: 4px;
}
#term {
    height: 20vh;
}
.condition {
    margin-top: 30px;
}
#facebook {
    color: var(--facebookBlue)!important;
    background-color: var(--white);
}
#instagram {
    color: var(--white)!important;
    background-color: rgb(199, 19, 118);
}
#tiktok {
    color: var(--white)!important;
    background-color: var(--black);
}
#facebook, #instagram, #tiktok, #whatsappIcon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2.7rem;
    border-radius: 10px;
    margin: 4px;
}
.col a:hover {
    background-color: var(--lightGray);
}
#term a:hover {
    background-color: var(--blue);
}
#termCond a:hover {
    color: var(--white);
    background-color: transparent;
    border-radius: 5px;
}

@media (max-width: 438px) {
    .card {
        width: 25rem;
        height: 35rem;
        margin: auto;
        margin-top: 2rem;
        font-size: 1.8rem;
    }
    
}
 
@media (max-width: 768px) {
    .general .carousel-inner {
        width: 90vw;
    }
    .general .carousel-inner img {
        width: 90vw;
    }
    #carouselExampleInterval {
        width: 90vw;   
    }
    .card {
        width: 20rem;
        margin: auto;
        margin-top: 2.5rem;
    }
    h2 {
        margin: 30px;
    }
}
@media (min-width: 769px) {
    .general .carousel-inner {
        width: 80vw;
        
    }
    .general .carousel-inner img {
        width: 80vw; 
    }
    #carouselExampleInterval {
        width: 80vw;   
        margin: auto;
    }
    h2 {
        margin: 30px;
    }
    .card {
        margin: auto;
    }
}
@media (min-width: 992px) {
    h2 {
        margin: 30px;
    }
    #carouselExampleInterval {
        width: 40vw;
        
    }
    .general .carousel-inner img {
        width: 40vw;
        height: 78vh;
        margin-top: 3rem;
    }
    .card {
        margin-top: 2rem;
    }

}
@media (min-width: 1200px) {
    .general .carousel-inner img {
        width: 40vw;
        height: 50vh;
    }
    .general .carousel-inner {
        width: 40vw;
    }
    .card {
        width: 20rem;
    }
}
@media (min-width: 1620px) {
    #main {
        width: 90vw;
        left: 0;
        padding: auto;
        margin-top: auto;
    }
    .general .carousel-inner img {
        width: 30vw;
        height: 45vh;
        margin-right: 4rem;
    }
    .general .carousel-inner {
        width: 30vw;
    }
    #carouselExampleInterval {
        width: 30vw;
        
    }
    .card {
        width: 20rem;
        
    }
}
